@page

@model ServiceHost.Pages.IndexModel
@{ ViewData["Title"] = "حیدریه النجف الاشرف"; }


@await Component.InvokeAsync("Banners")

<partial name="About" />

@await Component.InvokeAsync("UpComming")

<partial name="Services" />

@await Component.InvokeAsync("PastEvents")

@await Component.InvokeAsync("Sponsors")

@*@await Component.InvokeAsync("Membership")*@


<section class="section section-contact" id="contact2">
    <div class="gap thm-layer opc9">
        <div class="fixed-bg" style="background-image: url(~/wwwroot/Theme/assets/images/parallax7.jpg);"></div>
        <div class="container">
            <div class="nwsltr-wrp text-center">
                <div class="nwsltr-innr">
                    <div class="nwsltr-title">
                        <h3>عضویت در خبرنامه</h3>
                        <span>دریافت آخرین اخبار، رویداد ها و مراسمات</span>
                    </div>
                    <form method="post">
                        @if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
                        {
            <div class="alert-success p-1 rounded-pill">
                <i class="alert-success"></i>
                <p>@Model.SuccessMessage</p>
            </div>}
                        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
                        {
            <div class="alert-danger p-1rounded-pill">
                <i class="alert-danger"></i>
                <p>@Model.ErrorMessage</p>
            </div>}
                        <div class="row">
                            <div class="col-lg-6">
                                <input asp-for="Member.FullName" type="text" class="form-control b-box" placeholder="*نام و نام خانوادگی ">
                                <span asp-validation-for="Member.FullName" class="text-danger"></span><span></span>
                            </div>
                            <div class="col-lg-6">
                                <input asp-for="Member.Mobile" type="tel" class="form-control b-box" placeholder="*تلفن همراه">
                                <span asp-validation-for="Member.Mobile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="padding-top:20px">
                                <button type="submit" asp-page-handler="Create" class="btn md-vertical-align-center">عضویت در خبرنامه</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</section>


@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
