@model _01_HaidariehQuery.Contracts.Members.MemberQueryModel

    <div class="gap opc9">
        <div class="container">
            <div class="evnt-pry-wrap">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-lg-8">
                        <div class="gap thm-layer opc9">
                            <div class="sec-title2 text-right">
                                <div class="sec-title-inner2 text-right">
                                    <h3><span>عضویت در بانک اعضای حیدریه</span></h3>
                                </div>
                                <p>جهت دریافت آخرین اخبار و مجالس فرم زیر را تکمیل نمایید.</p>
                            </div>
                            <div class="nwsltr-wrp text-right">
                                <div class="contact-form text-center">
                                    <form>
                                        <input type="text" placeholder=" نام و نام خانوادگی خود را وارد کنید">
                                        <input type="tel" placeholder="شماره تلفن همراه خود را وارد کنید">
                                        <br />

                                        <button class="thm-btn brd-rd40" type="submit">عضویت</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Events & Prayer Wrap -->
        </div>
    </div>


