@inject _0_Framework.Application.IAuthHelper AuthHelper
<header class="style2">
    <div class="container">
        <div class="logo"><a asp-page="/Index" title="لوگو"><img src="~/Theme/assets/images/logo.png" alt="لوگو حیدریة النجف الاشرف"></a></div>
        <nav>
            <div>
                <a class="srch-btn" asp-page="/Search" title="جستجو"><i class="fa fa-search"></i></a>
                @if (AuthHelper.IsAuthenticated())
                {
                    <a asp-page="/Account" asp-page-handler="Logout" class="thm-btn brd-rd5" title="خروج">خروج</a> }
                else
                {
                    <a asp-page="/Account" class="thm-btn brd-rd5" title="ورود کاربران">ورود کاربران</a>}
                <ul>
                    <li><a asp-page="/Index" title="">صفحه اصلی</a></li>
                    <li class="menu-item-has-children">
                        <a title="">مجالس</a>
                        <ul>
                            <li><a asp-page="/Index" asp-fragment="Upcomming" title="">مجالس پیش رو</a></li>
                            <li><a asp-page="/MultimediaDetail/CeremonyArchive" title="">آرشیو مجالس </a></li>
                        </ul>
                    </li>
                    <li><a asp-page="/Support" title="">کمک مالی </a></li>
                    <li><a asp-page="/MultimediaDetail/GalleryArchive" title="">آلبوم تصاویر </a></li>
                    <li><a asp-page="/Index" asp-fragment="Sponsor" title="">خادمین اهل بیت ع</a></li>
                    <li><a asp-page="/Index" asp-fragment="About" title="">درباره ما</a></li>
                    <li><a asp-page="/ContactInfo">تماس با ما</a></li>

                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="rspn-hdr">
    <div class="rspn-mdbr">
        <ul class="rspn-scil">
            <li><a href="https://www.aparat.com/" title="آپارات" target="_blank"><i class="fa fa-film"></i></a></li>
            <li><a href="https://www.instagram.com/accounts/login/?next=/haidarieh/" title="اینستاگرام" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
        @*<form class="rspn-srch" method="get" asp-page="/Search">
                <input type="search" name="value" id="value" placeholder="‌‌ کلید واژه را وارد کنید ... " />
                <button type="submit"> <i class="fa fa-search"> </i> </button>
            </form>*@
    </div>
    <div class="lg-mn">
        <div class="logo"><a asp-page="/Index" title="Logo"> <img src="~/theme/assets/images/logo.png" alt="لوگو حیدریه النجف الاشرف"> </a> </div>
        <div class="rspn-cnt">
            <span><i class="fa fa-envelope thm-clr"></i><a href="mailto:info@haidarieh.com" title="">info@haidarieh.com</a></span>
            <span><i class="fa fa-phone thm-clr"></i> 021-33552301 </span>
        </div>
        <span class="rspn-mnu-btn"> <i class="fa fa-list-ul"></i> </span>
    </div>
    <div class="rsnp-mnu">
        <span class="rspn-mnu-cls"> <i class="fa fa-times"></i> </span>
        <ul>
            <li><a asp-page="/Index" title="">صفحه اصلی</a></li>
            <li class="menu-item-has-children">
                <a asp-page="/MutimediaDetail/CeremonyArchive" title="">مجالس</a>
                <ul>
                    <li><a asp-page="/Index" asp-fragment="Upcomming" title="">مجالس پیش رو</a></li>
                    <li><a asp-page="/MultimediaDetail/CeremonyArchive" title="">آرشیو مجالس </a></li>
                </ul>
            </li>
            <li><a asp-page="/Support" title="">کمک مالی </a></li>
            <li><a asp-page="/MultimediaDetail/AlbumArchive" title="">آلبوم تصاویر </a></li>
            <li><a asp-page="/Index" asp-fragment="Sponsor" title="">خادمین اهل بیت ع</a></li>
            <li><a asp-page="/Index" asp-fragment="About" title="">درباره ما</a></li>
            <li><a asp-page="/ContactInfo">تماس با ما</a></li>

        </ul>
    </div><!-- Responsive Menu -->
</div><!-- Responsive Header -->
