
@{
}

<footer>
    <div class="gap top-spac70 drk-bg2 remove-bottom clearfix">
        <div class="container">
            <div class="footer-data">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-lg-4">
                        <div class="wdgt-box style2">
                            <div class="logo"><a asp-page="/Index" title="Logo"><img src="~/theme/assets/images/logo.png" alt="لوگو حیدریة النجف الاشرف"></a></div>
                            <p>حیدریة النجف الاشرف <b>حیدریة النجف الاشرف</b> در سال 1373 با هدف خدمت به حیدریة النجف الاشرف اسلامی تشکیل شده است.</p>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 col-lg-8">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-lg-6">
                                <div class="wdgt-box">
                                    <h4>صفحات سایت</h4>
                                    <ul>
                                        <li><a asp-page="About" title="">درباره ما</a></li>
                                        <li><a asp-page="Services" title="">خدمات</a></li>
                                        <li><a asp-page="Support" title="">کمک مالی</a></li>
                                        <li><a asp-page="Index" title="">آرشیو مجالس</a></li>
                                    </ul>
                                </div>
                            </div>
                            @*<div class="col-md-4 col-sm-4 col-lg-4">
                                    <div class="wdgt-box">
                                        <h4>صفحات سایت</h4>
                                        <ul>
                                            <li><a href="index.html#" title="">صفحه اصلی</a></li>
                                            <li><a href="index.html#" title="">مطالب سایت</a></li>
                                            <li><a href="index.html#" title="">تالار گفتمان</a></li>
                                            <li><a href="/About" title="">درباره ما</a></li>
                                        </ul>
                                    </div>
                                </div>*@
                            <div class="col-md-4 col-sm-4 col-lg-6">
                                <div class="wdgt-box">
                                    <h4>تماس با ما</h4>
                                    <ul class="cont-lst">
                                        <li>
                                            <i class="flaticon-location-pin"></i>خیابان ری - سه راه امین حضور
                                            - حیدریة النجف الاشرف
                                        </li>
                                        <li><i class="flaticon-call"></i><a href="tel:02133552301" title="">021-33552301</li>
                                        <li><i class="flaticon-email"></i><a href="mailto:info@haidarieh.com" title="">info@haidarieh.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Footer Data -->
            <div class="bottom-bar">
                <p>@DateTime.Now.Year | تمامی حقوق برای حیدریة النجف الاشرف مفحوظ میباشد</p>
                <div class="scl">
                    <a href="https://www.aparat.com/" title="آپارات" target="_blank"><i class="fa fa-film"></i></a>
                    <a href="https://www.instagram.com/accounts/login/?next=/haidarieh/" title="اینستاگرام" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div><!-- Bottom Bar -->
        </div>
    </div>
</footer>
